<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sypm.shuyushangcheng">

    <!-- Normal Permissions 不需要运行时注册 -->
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- 请求网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 不是SDK需要的权限，是示例中的后台唤醒定位需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 需要运行时注册的权限 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于提高GPS定位速度 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取缓存数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 更改设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 3.2.0版本增加 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 3.2.0版本增加 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/StartTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".moudle.search.SearchActivity" />
        <activity
            android:name=".moudle.login.LoginByPassActivity"
            android:label="密码登陆" />
        <activity
            android:name=".moudle.login.LoginByPhoneActivity"
            android:label="登陆" />
        <activity
            android:name=".moudle.login.RegisterActivity"
            android:label="注册" />
        <activity
            android:name=".moudle.login.BindPhoneActivity"
            android:label="绑定手机" />
        <activity android:name=".moudle.goodsdetail.GoodsDetailActivity" />
        <activity
            android:name=".moudle.address.ModifyAddressActivity"
            android:label="修改地址" />
        <activity android:name=".moudle.scan.ScanActivity" />
        <activity
            android:name=".moudle.scan.ScanFailActivity"
            android:label="扫码购物" />
        <activity android:name=".moudle.classify.SearchResultActivity" />

        <!-- 高德地图 -->
        <!-- 设置key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="5600f17ae55f85f0bd4c4110c4f8d1e2" />
        <!-- 声明定位service -->
        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".moudle.address.MapAddressActivity"
            android:label="确定收货地址" />
        <activity
            android:name=".moudle.nearstore.NearStoreActivity"
            android:label="身边药店" />
        <activity
            android:name=".moudle.my.MyPointsActivity"
            android:label="积分账户" />
        <activity
            android:name=".moudle.my.SettingActivity"
            android:label="设置" />
    </application>

</manifest>